<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="sitemap-buddy" packages="">
    <Appenders>
        <File name="Errors" fileName="logs/error.log" append="false">
            <PatternLayout>
                <Pattern>%d %p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Errors"/>
        </Root>
    </Loggers>
</Configuration>